# Python
__pycache__/
*.py[cod]
*$py.class
utils/__pycache__/

# Node
node_modules/
dist/

# Build
build/
.venv/
.firebase/

# Environment variables and secrets
.env
*.pem
service-account.json

# Folders
attached_assets/
static/uploads/

# Temporary files
/tmp
*.log